@import 'App';
@import 'Main';
@import 'CardList';

body {
	font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
	font-size: 14px;
	line-height: 1.4285em;
	color: rgba(0,0,0,.87);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ui.card {
  font-size: 10px;
  width: 300px;
  height: 100px;
}

.carddeck {
  background-color: aliceblue;
}

.controlbar.button {
	position: "absolute";
	padding: "5px";
	bottom: "5%";
	right: "20%";
	color: "green";
}